-- Seed Phrase Authentication Function
-- This migration creates the authenticate_with_seed_phrase function for seed phrase login
-- Date: 2025-01-28

-- Create seed phrase authentication function
CREATE OR REPLACE FUNCTION public.authenticate_with_seed_phrase(p_seed_phrase TEXT)
RETURNS TABLE (
    user_id UUID,
    email TEXT,
    full_name TEXT,
    role TEXT,
    auth_provider TEXT,
    has_solana_wallet BOOLEAN
)
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    found_user_id UUID;
    user_profile RECORD;
BEGIN
    -- Find user by seed phrase in user_solana_wallets table
    SELECT usw.user_id INTO found_user_id
    FROM public.user_solana_wallets usw
    WHERE usw.seed_phrase_encrypted = p_seed_phrase
    LIMIT 1;
    
    -- If not found in user_solana_wallets, try user_wallets table
    IF found_user_id IS NULL THEN
        SELECT uw.user_id INTO found_user_id
        FROM public.user_wallets uw
        WHERE uw.encrypted_seed_phrase = p_seed_phrase
        LIMIT 1;
    END IF;
    
    -- If still not found, return empty result
    IF found_user_id IS NULL THEN
        RETURN;
    END IF;
    
    -- Get user profile information
    SELECT p.id, p.email, p.full_name, p.role, p.auth_provider, p.has_solana_wallet
    INTO user_profile
    FROM public.profiles p
    WHERE p.id = found_user_id;
    
    -- Return user information
    RETURN QUERY SELECT 
        user_profile.id,
        user_profile.email,
        user_profile.full_name,
        user_profile.role,
        user_profile.auth_provider,
        user_profile.has_solana_wallet;
END;
$$;
